[Unit]
Description=My Video Service
After=network-online.target multi-user.target
Wants=network-online.target multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/pyscript.py
Restart = always
StandardOutput=journal
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
